.about-container{
    margin: 4rem 10rem;
    text-align: start;
}

.about-container h1{
    padding-bottom: 1rem;
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: -1px;
    color: #F0582b;
}

.about-container p{
    padding-bottom: 2rem;
}

@media screen and (max-width:850px) {
    .about-container{
        margin: 4rem 2rem;
    }
    .about-container h1{
        padding-bottom: 1rem;
        font-size: 2.2rem;
        font-weight: 500;
        letter-spacing: -1px;
        color: #F0582b;
    }
}