

@media screen and (min-width:601px){

  .carhead{

    font-size: 3.4rem;
    padding: 1rem 0;
    line-height: 1;
    color: #F0582b;

  }
  .gallerymain{
    background-color: #f5f4ed;
  
    padding: 2rem 0;
  }
    .mainslide{
        display: block;
        margin: auto;
        width: 80%;
        
    }
    .single1{
        margin: 10px;
        padding: 10px;
    }
    
    .slick-prev,
    .slick-next {
      display: none !important;
    }
    
    /* Custom styles for the custom arrows */
    .gallerymain .custom-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 24px;
        font-weight: 500;
        background-color: #F0582b; /* Customize the background color */
        border: 1px solid #F0582b; /* Customize the border */
        border-radius: 20% 50%;
        padding: 4px 16px;
        /* z-index: 1;  */
      }
      
      .gallerymain .custom-prev {
        left: 30px;
        top: -20px;
        color: transparent; /* Customize the arrow color */
        background-color: transparent; /* Customize the background color */
        border:none;
      
      }
      
      .gallerymain .custom-next {
        right: 40px;
        top: -20px;
      }
      .single1 video{
        
        padding: 0.1rem 0;
      height: 50vh;
      width: 30vw;
  }
      .slick-slide>div {
        transform: scale(0.9);
        transition: transform .3s cubic-bezier(.4, 0, .2, 1);
        
      }
      
      .slick-center>div {
        transform: scale(1);
      }
      
      .slider__item>img {
        width: 100%;
        height: auto;
      }

    
  }
/* SMALL SCREENS  */
  @media screen and (max-width:600px){
.carhead{

  font-size: 2.6rem;
 
  line-height: 1;
  text-align: left;
  padding: 0 3rem 1rem 3rem;
  color: #F0582b;

}
    .gallerymain{
      background-color: #f5f4ed;
      padding: 2rem 0 1rem 0 ;
    }
    .mainslide{
        display: block;
        margin: auto;
        width: 80%;
    }
    .single1 video{
        
        padding: 0.1rem 0;
      height: 60vh;
      width: 80vw;
  }
    
    .slick-prev,
    .slick-next {
      display: none !important;
    }
    
    /* Custom styles for the custom arrows */
    .custom-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 16px;
        color: #ffffff; /* Customize the arrow color */
        background-color: #F0582b; /* Customize the background color */
        border: 1px solid #F0582b; /* Customize the border */
        border-radius: 20% 50%;
        padding: 1px 8px;
        /* z-index: 1; */
      }
      
      .gallerymain .custom-prev {
        left: 30px;
        top: 10px;
        color: transparent; /* Customize the arrow color */
        background-color: transparent; /* Customize the background color */
        border:none;
        
      }
      
      .gallerymain .custom-next {
        right: -2px;
        top: 12px;
      }

      .slick-slide>div {
        transform: scale(1);
        transition: transform .3s cubic-bezier(.4, 0, .2, 1);
      }
      
      .slick-center>div {
        transform: scale(1);
      }
      
      .slider__item>img {
        width: 100%;
        height: auto;
      }
  }