


@media screen and (min-width:851px){
    .destination2{
        padding: 4rem 6rem;
        background-color: #F9F9F9;
    
    }
    
    .destination2 h1{
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
    }
}
@media screen and (max-width:850px){
    .destination2{
        padding: 4rem 2rem;
        background-color: #F9F9F9;
    
    }
    
    .destination2 h1{
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: left;
    }
}