.hero{
   width:100%;
   height: 70vh;
   position: relative; 
}

.hero-mid{
    width:100%;
    height: 50vh;
    position: relative; 
 }

 .hero-mid h1{
    padding-top: 4rem !important; 
 }
img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero-text{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero-text h1{
    font-size: 3rem;
    font-weight: 700;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.hero-text p{
    font-size: 1.3rem;
    color: #fff;
    padding: 1rem 0 ;

}

.hero-text .show{
    display: inline-block;
    padding: 0.8rem 2rem;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-decoration: none;
   
    border-radius: 3px;
    background-color:#FF5B25;
  border: 1px solid #FF5B25;

}

.hero-text .show:hover{
    background-position: 100% 50%;
    transition: .3s ease-in;
    background-color: #FF5B25;
  border-color:#FF5B25;
  color: white;
 
 }

.hero-text .hide{
    display: none;
 
 }

 
  

@media screen and (max-width:555px){
.hero-text h1{
    padding: 10px 20px;
}
.hero-text p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0 ;
}

.hero-text .show{
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
 }
}