/* NavbarStyles.css */

.NavbarItems {
  background: transparent;
  transition: 0.3s ease-out;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  width: 100%;
  position: fixed;
  z-index: 3;
}
.logo-img{
  width: 120px;
  height: 60px;
}
.navbar-logo {
  padding: 0.4rem 1rem;
}
ul{
  padding: 0;
  margin: 0;
}
.navbar-logo a {
  text-decoration: none;
  color: #F0582b;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: -1px;
  cursor: pointer;
}

.navbar-logo a:hover {
  transition: 0.2s ease-in;
  color: white;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}

.linksdiv {
  padding: 4px 0;
  border-bottom: 3px solid transparent;
}

.linksdiv:hover {
  border-bottom: 3px solid #6E6C84;
  transition: 0.3s ease-in;
}

.nav-links {
  color: #6E6C84;
  width: 100%;
  font-size: 1rem;
  padding: 0 1rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-links:hover {
  color: #6E6C84;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.signupbtn {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.signupbtn:hover {
  background-color: #151516;
  color: #fff;
}

.menu-icons {
  display: none;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
    padding: 0.7rem 1.4rem;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f5f4ed;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
  }

  .linksdiv:hover {
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .nav-links {
    color: #F0582b;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  .nav-links:hover {
    color: #F0582b;
    background: #f5f4ed;
    transition: 0.6s ease-in;
  }

  .signupbtn {
    display: none;
  }

  .menu-icons {
    display: block;
    cursor: pointer;
  }

  .menu-icons i {
    font-size: 1.2rem;
    color: #f9f9f9;
  }
}
