

@media screen and (min-width:601px){
  
   
  .single{
    position: relative;
text-align: left;
color: #f9f9f9;
    
    
  }
  .single .popdestext{
    position: absolute;
    bottom: 30px;
    left: 50px;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -1px;
  }

  .single img{
   height: 20rem;
   width: 100%;
   padding: 0 4px;
  
 
 }


    .slick-prev,
    .slick-next {
      display: none !important;
    }
    
    /* Custom styles for the custom arrows */
    .custom-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 24px;
        color: #ffffff; /* Customize the arrow color */
        background-color: #FF5B25; /* Customize the background color */
        border: 1px solid #FF5B25; /* Customize the border */
        border-radius: 8px;
        padding: 1px 12px;
        z-index: 1; /* Place the arrows on top of the carousel */
      }
      
      .custom-prev {
        left: 30px;
        top: -20px;
        color: #f9f9f9; /* Customize the arrow color */
        background-color: #f9f9f9; /* Customize the background color */
        border: 1px solid #f9f9f9; /* Customize the border */
      
      }
      
      .custom-next {
        right: 20px;
        top: -20px;
      }

      .slick-slide>div {
        transform: scale(0.9);
        transition: transform .3s cubic-bezier(.4, 0, .2, 1);
        
      }
      
      .slick-center>div {
        transform: scale(1);
      }
      
      .slider__item>img {
        width: 100%;
        height: auto;
      }
  }
/* SMALL SCREENS  */
  @media screen and (max-width:600px){
    .popdesmain {
      padding: 40px 0 0 0;
          }
    .mainslide{
        display: block;
        margin: auto;
        width: 80%;
    }

    .single{
      position: relative;
  text-align: center;
  color: white;
      
      
    }
    .single .popdestext{
      position: absolute;
      bottom: 20px;
      left: 40px;
      text-align: left;
    }

    .single img{
     height: 20rem;
     width: 100%;
     padding: 0 10px;
    
   
   }
   
    
    .slick-prev,
    .slick-next {
      display: none !important;
    }
    
    /* Custom styles for the custom arrows */
    .custom-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 16px;
        color: #ffffff; /* Customize the arrow color */
        background-color: #FF5B25; /* Customize the background color */
        border: 1px solid #FF5B25; /* Customize the border */
        border-radius: 6px;
        padding: 1px 8px;
        z-index: 1; /* Place the arrows on top of the carousel */
      }
      
      .custom-prev {
        left: 30px;
        top: -20px;
        color: #ffffff; /* Customize the arrow color */
        background-color: #ffffff; /* Customize the background color */
        border: 1px solid #ffffff; /* Customize the border */
      }
      
      .custom-next {
        right: 10px;
        top: -22px;
      }

      .slick-slide>div {
        transform: scale(1);
        transition: transform .3s cubic-bezier(.4, 0, .2, 1);
      }
      
      .slick-center>div {
        transform: scale(1);
      }
      
      .slider__item>img {
        width: 100%;
        height: auto;
      }
  }