

@media screen and (min-width:851px){
    .sectiontwomain{
        min-height: 60vh;
        background-color: #f5f4ed;
        
        padding: 6rem 0 0 0;
        border-radius: 6rem 6rem 0 0;
        margin-top: -10rem;
       
    }
    
    .left2{
        display: block;
       transform: translateX(20%);
        width: 40%;
        text-align: left;
    }
    
    .sec2text{
        font-size: 4rem;
        line-height: 1;
    }
    .sec2text2{
        font-size: 1.4rem;
    }
    .sec2btn{
        background-color: #39A77F;
        padding: 0.6rem 1.6rem;
        border: none;
        color: #f5f4ed;
        font-size: 1.1rem;
    }
    .right2{
        display: block;
        padding: 2rem 4rem;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}

@media screen and (max-width:850px){
    .sectiontwomain{
        min-height: 80vh;
        background-color: #f5f4ed;
        display: flex;
        flex-direction: column;
        border-radius: 3rem 3rem 0 0;
        margin-top: -4rem;
        text-align: left;
    }
    
    
    
    .sec2text{
        font-size: 2.6rem;
        line-height: 1;
        padding: 2rem 3rem 0 3rem;
        
    }
    .sec2text2{
        font-size: 1rem;
        line-height: 1;
        padding: 0.2rem 4rem 0 3rem ;
    }
    .sec2btn{
        background-color: #39A77F;
        padding: 0.4rem 1.4rem;
        border: none;
        color: #f5f4ed;
        margin: 0.6rem 3rem;
        
    }
    .right2{
        display: block;
        padding: 1rem 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}