.mainservices{
    /* background-color: rgba(255, 91, 37,0.1); */
    border-radius: 0 50px ;
    padding: 30px ;
    margin: 30px ;

}

.services{
    display: flex;
justify-content: space-around;
}

.services div{
   font-size: 1rem;
   font-weight: 500;
   padding: 20px;
}


@media screen and (max-width:850px){
    .services{
        display: flex;
        flex-direction: column;
    justify-content: space-around;
    }
}