.mainservices{
    background-color: #f5f4ed;
  
    padding: 4rem ;
    

}
.headtext2{
    font-size: 3.8rem;
    padding: 1rem 0;
    line-height: 1;
    color: #F0582b;
}
.services{
    display: flex;
 padding: 2rem 0 0 0;
justify-content: space-around;
}


.singleservice1{
    background-color: #5B9DC2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border-radius: 0.6rem;
}
.iconStyle{
    color:#fff ;
    font-size: 4rem;
    padding: 0.1rem;
    margin: 2rem 0 0 0;
}

.textStyle{
    color:#fff ;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
}


@media screen and (max-width:850px){
    .mainservices{
        background-color: #f5f4ed;
       
        padding: 1rem 2rem 0 2rem;
        
       
    }
   
     

    .headtext2{
        font-size: 2.6rem;
        padding: 1rem 0;
        line-height: 1;
        color: #F0582b;
    }
    .services{
        display: flex;
        flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0;
    
    }

    .singleservice1{
        background-color: #5B9DC2;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 1rem;
        margin: 0 0 2rem 0;
    }

    .iconStyle{
        color:#fff ;
        font-size: 4rem;
        padding: 0.2rem;
        /* margin: 1rem 0 0 0; */
    }
    
    .textStyle{
        color: #fff; 
        font-size: 1rem;
        /* padding: 1rem; */
        margin: 0.1rem 0 0 0;
        
    }
}


