.trip{
    padding: 0 3rem;
  
    background:#f5f4ed ;
}

.trip h1{
    font-size: 3rem;
    color: #050816;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1;
}

.tripcard{
    margin-top: 1rem;
    display: flex;
    
    justify-content: flex-start;
    
  
}



.t-card{
    
    width: 50%;
    text-align: start;
    /* box-shadow: 0 5px 25px 2px rgba(0,0,0,0.11); */
    border-radius: 7px;
    cursor: pointer;
    color: #050816;
background-color: #fff;
margin: 0 0.4rem;

}

.t-card a{
  text-decoration: none;
  color: #f9f9f9;
 

}
.firstrow{
    display: flex;
    flex-direction: column;
}
.t-image{
    height: 40vh;
    width: 100%;
    overflow: hidden;
    border-radius: 0 ;
  

}


.t-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 1rem;
    padding: 1rem ;
   
}


.t-image:hover img{
   transform: scale(1.1);
   border-radius: 7px  7px 0 0 ;
}
.textdiv{
        padding: 0.6rem 1rem 1rem 1.2rem;
      
}


.title{
    font-size: 1.5rem;
    padding: 0;
    font-weight: 600;
    letter-spacing: -1px;
    color: #050816;
}
.days{
    color: #050816;
        font-size: 0.9rem;
     
        font-weight: 500;
       

}

.story{
    color: #050816;
        font-size: 0.7rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 300;
        padding: 0.2rem 0;
       

}

.pricecol{
    color: #050816;
    display: flex;
    flex-direction: row;
}
.pricecut{
    color: #050816;
    font-size: 0.9rem;
 text-decoration: line-through;
    font-weight: 500;
  
   padding: 0;

}
.price{
    
    font-size: 1.3rem;
    color: #050816;
    font-weight: 600;
   

}
.state{
    
    font-size: 0.9rem;
    color: #050816;
    font-weight: 400;
   

}
.leftcol{
    width: 50%;
}
.rightcol{
    display: block;
    margin: auto;
}

.knowmore{
    font-size: 0.9rem;
        padding: 0.5rem 1rem;
        font-weight: 500;
        letter-spacing: -1px;
        background-color: #5B9DC2;
        color: #f9f9f9;
border-radius: 0.1rem;

        

        
}


@media screen and (max-width:850px){
    .trip{
        padding: 0 3rem 0 3rem;
    }
    .trip h1{
        font-size: 2.3rem;
        font-weight: 700;
        letter-spacing: -1px;
        text-align: left;
        line-height: 1;
    }
    
    .tripcard{
   
        flex-direction: column;
        
    }

    .t-card{
        width: 100%;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.25);
    }
    .description{
        display: none;
    }
    
}