
@media screen and (min-width:851px){
   .layoutmain{
    display: flex;
    flex-direction: row;
   }

   .leftpanel{
width: 60%;
   }

   .rightpanel{
    width: 40%;
     
   
   }
 
.information{
    background-color: #fff;
   box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
    padding: 20px;
    margin: 20px ;
    border-radius: 10px;
}
.introicons{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.icon{
    font-size: 2.5rem;
    color: #1f1f1f;
}

.icontext{
    font-size: 0.9rem;
    font-weight: 500;
}
.div-container{
    text-align: left;
    padding: 10px 20px;
}

.div-container-title{
    font-size: 1.6rem;
    font-weight: 600;
    color:#1f1f1f ;

}

.list1{
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: 400;
   
}

.quote{
    background-color: #1f1f1f;
    padding: 30px 0 ;
   margin: 10px 0;
} 


.day{
    background-color:#FF5B25 ;
    padding: 4px 14px  ;
 
    border-radius: 2px ;
    text-align: center;
    color: #f9f9f9;
}
}
@media screen and (max-width:850px){
    .layoutmain{
        display: flex;
        flex-direction: column;
       }
    
       .leftpanel{
    width: 100%;
       }
    .information{
        background-color: #fff;
       box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
        padding: 1rem;
        margin: 20px ;
        border-radius: 10px;
    }
    .introicons{
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .day{
        background-color:#FF5B25 ;
        padding: 4px 14px  ;
     font-size: 0.8rem;
     border: none;
        border-radius: 2px ;
        text-align: center;
        font-weight: 500;
        color: #f9f9f9;
    }


    .icon{
        font-size: 1.6rem;
        color: #1f1f1f;
    }
    
    .icontext{
        font-size: 0.7rem;
        font-weight: 500;
    }
    .div-container{
        text-align: left;
        padding: 0.3rem;
    }
    
    .div-container-title{
        font-size: 1.6rem;
        font-weight: 600;
        color:#1f1f1f ;
        padding: 1rem 0 0 0;
    
    }
    
    .list1{
        padding: 10px 10px;
        
        font-weight: 400;
        text-align: left;
    }

    .list1 li{
        padding: 0 0 10px 0;
        font-size: 0.8rem;
    }
    
    .quote{
        background-color: #1f1f1f;
        padding: 30px 0 ;
       margin: 10px 0;
    }
}