@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

.App {
  text-align: center;
}
::-webkit-scrollbar {
  width: 0; /* width of the scrollbar */
  
}

::-webkit-scrollbar-track {
  background: #1f1f1f; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f; /* color of the thumb */
  height: 90%;
}